# Godot-specific ignores
.import/
.godot/
#export.cfg
#export_presets.cfg

# Mono-specific ignores
.mono/
.game/

libsteam_api.so
steam_api64.dll
songs/

# System/tool-specific ignores
.directory
*~
version.json

third_party/linux64/deno/deno
third_party/win64/deno/deno.exe
third_party/linux64/ffmpeg/ffmpeg
third_party/win64/ffmpeg/ffmpeg.exe
third_party/linux64/ffmpeg/ffprobe
third_party/win64/ffmpeg/ffprobe.exe
third_party/youtube_dl/youtube-dl
third_party/youtube_dl/youtube-dl.exe